<!DOCTYPE html>
<html lang="en">
    <head>
        <title>S.UEH - Startup for success</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/aos.css">
        <link rel="stylesheet" href="css/ionicons.min.css">
        <link rel="stylesheet" href="css/bootstrap-datepicker.css">
        <link rel="stylesheet" href="css/jquery.timepicker.css">
        <link rel="stylesheet" href="css/flaticon.css">
        <link rel="stylesheet" href="css/icomoon.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Link Swiper's CSS -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" href="/">
                <img src="./images/main-logo.png" alt="" height="48px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="/#about-section" class="nav-link">Giới thiệu</a></li>
                        <li class="nav-item"><a href="/#mentor-section" class="nav-link">Mentor</a></li>
                        <li class="nav-item"><a href="/#members-section" class="nav-link">Thành viên</a></li>
                        <li class="nav-item"><a href="/#project-section" class="nav-link">Các dự án</a></li>
                        <!-- <li class="nav-item"><a href="blog.html" class="nav-link">Đăng ký</a></li> -->
                        <li class="nav-item"><a href="/#rule-section" class="nav-link">Cẩm nang</a></li>
                        <li class="nav-item"><a href="/#hire-section" class="nav-link">Việc làm</a></li>
                        <li class="nav-item"><a href="/#hire-section" class="nav-link">Liên hệ</a></li>
                        <li class="nav-item cta"><a href="/register" class="nav-link"><span>Đăng ký!</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END nav -->
        <!-- <div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg'); background-attachment:fixed;">
            <div class="overlay"></div>
            <div class="container">
              <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-8 ftco-animate text-center">
                  <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span class="mr-2"><a href="teacher.html">Teacher</a></span> <span>Teacher Details</span></p>
                  <h1 class="mb-3 bread">Teacher Details</h1>
                </div>
              </div>
            </div>
            </div> -->
        <section class="ftco-section" style="padding: 7em 0 0em;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12 mb-5">
                                <div class="teacher-details d-md-flex">
                                    <div class="img ftco-animate" style="background-image: url(<%=locals.mentor_img%>);"></div>
                                    <div class="text ftco-animate">
                                        <h3><%=locals.mentor_name%></h3>
                                        <span class="position"><%=locals.mentor_position%></span>
                                        <p>
                                            <%-locals.mentor_desc%>
                                        </p>
                                        <div class="mt-4">
                                            <h4>Thông tin liên hệ</h4>
                                            <p class="ftco-social d-flex">
                                                <!-- <a href="#" class="d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a>
                                                <a href="#" class="d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a>
                                                <a href="#" class="d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a> -->
                                                <ul>
                                                    <li><strong><i class="fas fa-address-card"></i></strong> &nbsp; 242 Cộng Hòa, phường 12, quận Tân Bình</li>
                                                    <li><strong><i class="fas fa-envelope-square"></i></strong> &nbsp; info@smentor.ac.vn</li>
                                                    <li><strong><i class="fas fa-phone-volume"></i></strong> &nbsp; 028 3511 9100</li>
                                                    <li><strong><i class="fas fa-barcode"></i></strong> &nbsp; smentor.ac.vn</li>
                                                </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Timeline section -->
        <!-- <section>
            <style>
                @media screen and (max-width: 1064px) {
                    #time-line{
                        display: flex;
                    }
                }
            </style>
            <div class="col-md-12 mb-3 p-5 ftco-animate justify-content-center">
                <div id="time-line" class="justify-content-center">
                    <%-locals.mentor_timeline%>
                </div>           
            </div>
        </section> -->
        <section class="ftco-section" style="padding: 2em 0 !important;">
            <%-locals.mentor_images%>
            <!-- <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=15F4RHRPBZQila-XmEEHNNZgOVb27rBw-ykzVvtYaC2s&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0' loading="lazy"></iframe> -->
        </section>
    
        <!-- Swiper JS -->
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper(".mySwiper", {
                effect: "coverflow",
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: "auto",
                slideToClickedSlide: true,
                coverflowEffect: {
                    rotate: 50,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows: true,
                },
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });
        </script>
        <!-- <section class="ftco-section-parallax">
            <div class="parallax-img d-flex align-items-center">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-7 bg-light mt-3 p-5 ftco-animate">
                            <h4 class="mb-4">Để lại lời nhắn cho thầy <span style="color: blue; margin-bottom: 2rem !important;"><%=mentor_name%></span></h4>
                            <form action="#">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Họ tên">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Lời nhắn của bạn"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Gửi" class="btn btn-primary py-3 px-5">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    
        <footer class="ftco-footer ftco-bg-dark ftco-section img"
		style="background-image: url(images/bg_2.jpg); background-attachment:fixed;">
		<div class="overlay"></div>
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-3">
					<div class="ftco-footer-widget mb-4">
						<h2><a class="navbar-brand" href="index.html">
								<img src="./images/footer_logo.png" alt="" style="width: 100%;">
							</a></h2>
							<div class="block-23 mb-3">
								<ul>
									<li><span class="icon icon-map-marker"></span><span class="text">67 Nguyễn Thị Minh
											Khai, quận 1, TP. HCM</span></li>
                                    <li><span class="icon icon-map-marker"></span><span class="text">279 Nguyễn Tri Phương, quận 10, TP.HCM</span></li>
									<li><a href="#"><span class="icon icon-phone"></span><span
												class="text">0859302535</span></a></li>
									<li><a href="#"><span class="icon icon-envelope"></span><span
												class="text">sueh.qt.ueh@gmail.com</span></a></li>
									<li class="nav-item cta"><a href="/register" style="color: black;"
											class="btn btn-primary px-4 py-3">Đăng ký ngay</a> <span></span></a></li>
								</ul>
							</div>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
							<li class="ftco-animate"><a href="#"><span class="icon-youtube"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-2">
				</div>
				<div class="col-md-7">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4991292105296!2d106.68713911534756!3d10.773031562200945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3ca6a7386b%3A0xd0e8c31c849624f!2zNjcgTmd1eeG7hW4gVGjhu4sgTWluaCBLaGFpLCBQaMaw4budbmcgUGjhuqFtIE5nxakgTMOjbywgUXXhuq1uIDEsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1625991924057!5m2!1sen!2s"
						width="600" height="450" style="border:0;" allowfullscreen="true" loading="lazy">
					</iframe> 
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright <script>
							document.write(new Date().getFullYear());
						</script> &copy; SUEH - All right reserved
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>

        <!-- loader -->
        <div id="ftco-loader" class="show fullscreen">
            <svg class="circular" width="48px" height="48px">
                <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
                <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/>
            </svg>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-migrate-3.0.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.easing.1.3.js"></script>
        <script src="js/jquery.waypoints.min.js"></script>
        <script src="js/jquery.stellar.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/aos.js"></script>
        <script src="js/jquery.animateNumber.min.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/jquery.timepicker.min.js"></script>
        <script src="js/scrollax.min.js"></script>
        <script src="js/main.js"></script>
        <script src="./vendor/JBox/jBox.all.js"></script>
    </body>
</html>